<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.session.dgjx"
    android:versionCode="109"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <permission
        android:name="com.session.dgjx.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- jpush权限 -->
    <uses-permission android:name="com.session.dgjx.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 扫描二维码 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 高德定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <supports-screens android:anyDensity="true" />

    <application
        android:name=".AppInstance"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >

        <!-- 欢迎页 -->
        <activity
            android:name="com.session.dgjx.login.WelcomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- TabHostActivity -->
        <activity
            android:name="com.session.dgjx.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 登录 -->
        <activity
            android:name="com.session.dgjx.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 首页 -->
        <activity
            android:name="com.session.dgjx.HomePagerActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:name="com.session.dgjx.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 主页 -->
        <activity
            android:name="com.session.dgjx.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 个人中心 -->
        <activity
            android:name="com.session.dgjx.personal.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 个人资料 -->
        <activity
            android:name="com.session.dgjx.personal.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 关于 -->
        <activity
            android:name="com.session.dgjx.personal.AboutAppActivity"
            android:screenOrientation="portrait" />
        <!-- 我的消息 -->
        <activity
            android:name="com.session.dgjx.message.MessageActivity"
            android:screenOrientation="portrait" />
        <!-- 订单详情 -->
        <activity
            android:name="com.session.dgjx.order.OrderDetailActivity"
            android:screenOrientation="portrait" />
        
        <!-- 培训记录 -->
        <activity
            android:name="com.session.dgjx.training.TrainingRecordActivity"
            android:screenOrientation="portrait" />
        
        <!-- 生成二维码 -->
        <activity
            android:name="com.session.dgjx.daytraining.CreateQRCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 学生培训评价 -->
        <activity
            android:name="com.session.dgjx.training.EvaActivity"
            android:screenOrientation="portrait" />
        <!-- 教练收入列表 -->
        <activity
            android:name="com.session.dgjx.personal.ComeInActivity"
            android:screenOrientation="portrait" />
        <!-- WebView -->
        <activity
            android:name="com.session.dgjx.BWeb"
            android:screenOrientation="portrait" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.session.dgjx" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.session.dgjx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.session.dgjx" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="official" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="60f43850b22b16fc4c75b0a6" /> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- 高德定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ae0b891273ef41b33a83ce9304e9d823" />

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57357540e0f55a6c42000146" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />
    </application>

</manifest>