<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.session.dgjp"
    android:versionCode="110"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <permission
        android:name="com.session.dgjp.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- jpush权限 -->
    <uses-permission android:name="com.session.dgjp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 扫描二维码 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 高德定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->

    <!--ShareSDK-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <supports-screens android:anyDensity="true" />

    <application
        android:name=".AppInstance"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >

        <!-- 欢迎页 -->
        <activity
            android:name="com.session.dgjp.login.WelcomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name="com.session.dgjp.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name="com.session.dgjp.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--主页依附ViewPager的Activity -->
        <activity
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:name="com.session.dgjp.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 首页 -->
        <activity
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:name="com.session.dgjp.HomePagerActivity"
            android:screenOrientation="portrait" />
         <!-- 报名页 -->
        <activity
            android:name="com.session.dgjp.sign.SignActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        <!-- 地图页 -->
        <activity
            android:name="com.session.dgjp.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        <!-- 个人中心 -->
        <activity
            android:name="com.session.dgjp.personal.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 设置支付密码 -->
        <activity
            android:name="com.session.dgjp.personal.SetPayPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 修改支付密码 -->
        <activity
            android:name="com.session.dgjp.personal.ModifyPayPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 重置支付密码 -->
        <activity
            android:name="com.session.dgjp.personal.ResetPayPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 我的钱包 -->
        <activity
            android:name="com.session.dgjp.personal.MyWalletActivity"
            android:screenOrientation="portrait" />
        <!-- 我的优惠券 -->
        <activity
            android:name="com.session.dgjp.personal.MyCouponActivity"
            android:screenOrientation="portrait" />
        <!-- 个人资料 -->
        <activity
            android:name="com.session.dgjp.personal.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 关于 -->
        <activity
            android:name="com.session.dgjp.personal.AboutAppActivity"
            android:screenOrientation="portrait" />
        <!-- 我的消息 -->
        <activity
            android:name="com.session.dgjp.message.MessageActivity"
            android:screenOrientation="portrait" />
        <!-- 培训点评 -->
        <activity
            android:name="com.session.dgjp.training.TrainingEvaluationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 教练列表 -->
        <activity
            android:name="com.session.dgjp.trainer.TrainerListActivity"
            android:screenOrientation="portrait" />
        <!--学校列表-->
        <activity
            android:name="com.session.dgjp.school.SchoolListActivity"
            android:screenOrientation="portrait" />
        <!-- 预约培训 -->
        <activity
            android:name="com.session.dgjp.trainer.OrderActivity"
            android:screenOrientation="portrait" />
        <!-- 订单支付 -->
        <activity
            android:name="com.session.dgjp.order.OrderPaymentActivity"
            android:screenOrientation="portrait" />
        <!-- 已支付订单详情 -->
        <activity
            android:name="com.session.dgjp.order.PaidOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 未支付订单详情 -->
        <activity
            android:name="com.session.dgjp.order.UnpaidOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 扫描二维码 -->
        <activity
            android:name="com.session.dgjp.ScanQRCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 微信支付 -->
        <activity
            android:name="com.session.dgjp.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>


        <activity
            android:name="com.session.dgjp.UpActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>


        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.session.dgjp.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- 分享页面 -->
        <activity
            android:name="com.session.dgjp.share.ShareActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.session.dgjp" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.session.dgjp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.session.dgjp" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="official" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="9e527aa095476153081ffa08" /> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- 高德定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <!--高德正式KEY-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b17ef2312b6a75d5e6aeddb6d296c357" />

        <!--高德测试KEY-->
        <!--<meta-data-->
            <!--android:name="com.amap.api.v2.apikey"-->
            <!--android:value="d5f3d9877386eeac522642539d41b445" />-->

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573574a167e58e707200276b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />

        <!--ShareSDK-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name="com.session.dgjp.service.LocationService"/>

    </application>

</manifest>